<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    
    <bean class="com.nicodemo.controller.ItemsController"/>
    <bean class="com.nicodemo.controller.SaleController"/>
    <bean class="com.nicodemo.controller.DevEntitiesInitializer"/>
    <bean class="com.nicodemo.controller.ClientsDebtsController"/>
    <bean class="com.nicodemo.controller.UsersController"/>
        
    <bean class="com.nicodemo.persistence.DAOs.ItemsDAO"/>
    <bean class="com.nicodemo.persistence.DAOs.SalesDAO"/>
    <bean class="com.nicodemo.persistence.DAOs.CashBoxesDAO"/>
    <bean class="com.nicodemo.persistence.DAOs.UsersDAO"/>
    <bean class="com.nicodemo.persistence.DAOs.ClientsDAO"/>
    
    <bean class="com.nicodemo.view.LatestSalesPanel"/>
</beans>